<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> IO SHIELD GENERATOR</title>
	
    <link rel="stylesheet" href="./cum.css">
    <link rel="stylesheet" href="../static/cum.css">
    <link rel="stylesheet" href="./static/cum.css">
	
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main style = "background-color: #d4c7c9;">
		<!--div id="adTop" class = "advertisement">
			<p> Top ad spot here </p>
		</div-->
		<div class = "Top_banner">
			<h1>Upload IO Shield image <br> Get model for 3D printing</h1>  
			<h1>For free - Forever (probably)</h1>
		</div>
		<div class = "BigAss">
			<div id="ad1" class = "advertisement">
				<h1> User Guide </h1>
				
				<div class="video-wrap">
					<div class="video-container">
						<iframe src="https://www.youtube.com/embed/a6P7AP5JJNE" 
						title="YouTube video player" frameborder="0" 
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
						</iframe>
					</div>
				</div>
			</div>
			<div class = "content-wrapper">
				<div  id="dropContainer" class = "Part_1">
						 <p class ="RemoveAfterShrink"> Upload one image by dragging it into this box <br>
						or by clicking the button below<br></p>
						 <p class = "ShowAfterShrink">  Drop another image here <br> if you want to update it </p>
					<form id="ImageForm" action="/upload" enctype = "multipart/form-data" target="hiddenFrame">
						<input type="file" name="file" id="InputBox" value="" onclick="this.value=null;" class = "InputBox" accept="image/png, image/gif, image/jpeg"/>
					</form>
				</div>
				<div id = "AdjustmentBox" class = "Part_2">
					<div class ="boxed">
						<h3> Example image </h3>
						<img id="ExampleImg" src = "static/B450M Pro4-F(L5).png"/>
					</div>
					<div id = "Review_Image" class ="boxed Hidden">
						<h2> Your uploaded image </h2>
						<img id="blah" src="#" alt="Your uploaded image will be here, it's currently empty. If you are seeing this, it's most likely you have not selected the image, try selecting it again." />
						<p> This tool is sensitive to the brightness and contrast of the image. <br> Use photo editing tool to correct those value to get better results.
						</p> <h1>Looks good?</h1>
						<button type="submit" form="ImageForm" class = "confirmButton" value="Like"> Yep, this is an IO image, <br> LET'S DO THIS </button>
					</div>
				</div>
				
					<div id = "confirmBox" class = "Part_3 Hidden">
				<div class ="boxed">
						<h1> Confirm result image & <br>Get 3D Model
								<br></h1>
						<div class = "TwoDOverlay">
							<img id="overlayImg" style="opacity:0.3; z-index:2;" src="#" alt="Overlayed image" /> 
							<img id="resultImg" src="#" alt="This is the result image, press the green button above.  If you are seeing this, it's most likely you have not selected the image, try selecting it again." /> 
						</div>
						<div class ="Part_3_flex">
							<div class = "Part_3_flex_left">
								 <p> Please wait 30 seconds after pressing the green button, the server is generating your file. <br> After downloading it, add ".stl" to the end of the file. </p>
								<button class = "confirmButton" id = "LastButton"> Looks like a good recognition to me, <br> GET 3D MODEL NOW </button>
							</div>
							<div class = "Part_3_flex_right">
								<h3> Upload image to overlay on top to double check </h3>
								<form id="ImageFormTwo" action="/upload" enctype = "multipart/form-data" target="hiddenFrame">
									<input type="file" name="fileTwo" value="" id="InputBoxTwo" onclick="this.value=null;" class = "InputBox" accept="image/png, image/gif, image/jpeg"/>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="ad2" class = "advertisement">
				<div class = "LeftHalf">
				<div class ="TopHalf"> <p> DONATE PLZ</p> </div>
				<div class = "BottomHalf"> 
					<a href = "https://paypal.me/zahuynh6969" target="_blank">Paypal</a>
					<a href = "https://steamcommunity.com/tradeoffer/new/?partner=243084914&token=Wd4eyX_8" target="_blank">Steam</a>
					<a href = "https://me.momo.vn/vjIyu2T7TOFMtqsxURsb" target="_blank">Momo</a>
					<a href = "#" onclick ="binanceNigga();return false;" target="_blank">Binance </a>
					<a href = "https://shopee.vn/thietgia3452002" target="_blank"> Shopee store page </a>
				</div> 
				</div>
				<div class = "RightHalf">
					Cost of computation isn't free, ya know. <br> If this helps you, please donate.<!--br>Even if it's half a dollar, your donation will still be appreciated a lot.-->
				</div>
			</div>
		</div>
		<div id ="TopDonation">
			<div class = "LeftHalf">
				<div class ="TopHalf"> <p> DONATE NOW!!! </p> </div>
				<div class = "BottomHalf"> 
					<a href = "https://paypal.me/zahuynh6969" target="_blank">Paypal</a>
					<a href = "https://steamcommunity.com/tradeoffer/new/?partner=243084914&token=Wd4eyX_8" target="_blank">Steam</a>
					<a href = "https://me.momo.vn/vjIyu2T7TOFMtqsxURsb" target="_blank">Momo</a>
					<a href = "#" onclick ="binanceNigga();return false;" target="_blank">Binance</a>					
				</div> 
			</div>
			<div class = "RightHalf"> I can't place ad on this website lol. 
				<br> This page is pretty much just a demo of the project.
				<br> The source code is available here: <a href="https://github.com/Gia-Huynh/IO-Shield"> github </a>  
				<br> Installing locally gives you more freedom to modify the parameter.
				<br> Go to the github link and give it a try.
				<br> My home network doesn't store any sensitive data, and it also does not have any firewall protection, plz no hackerino.
			</div>
		</div>
		<iframe name="hiddenFrame" width="0" height="0" border="0" style="display: none;"></iframe>
    </main>
	<!--<script src="logic.js"></script>-->
	<!--<script src="./static/logic.js"></script>-->
	<script src="../static/logic.js"></script>
  </body>
</html>