<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> IO SHIELD GENERATOR</title>
    <link rel="stylesheet" href="./cum.css">
    <link rel="stylesheet" href="./static/cum.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
		<div id="adTop" class = "advertisement">
			<p> Top ad spot here </p>
		</div>
		<div class = "Top_banner">
			<h1>Upload IO Shield image <br> Get model for 3D printing</h1>  
			<h1>For free - Forever (probably)</h1>
		</div>
		<div class = "BigAss">
			<div id="ad1" class = "advertisement">
				<p> Left ad spot here, I need money for anime figurine, please don't adblock </p>
			</div>
			<div class = "content-wrapper">
				<div  id="dropContainer" class = "Part_1">
						 <p class ="RemoveAfterShrink"> Upload one image by dragging it into this box <br>
						or by clicking the button below<br></p>
						 <p class = "ShowAfterShrink">  Drop another image here <br> if you want to update it </p>
					<form id="ImageForm" action="/upload" enctype = "multipart/form-data" target="hiddenFrame">
						<input type="file" name="file" id="InputBox" class = "InputBox" accept="image/png, image/gif, image/jpeg"/>
					</form>
				</div>
				<div id = "AdjustmentBox" class = "Part_2">
					<div class ="boxed">
						<h3> Example image </h3>
						<img id="ExampleImg" src = "static/B450M Pro4-F(L5).png"/>
					</div>
					<div id = "Review_Image" class ="boxed Hidden">
						<h2> Your uploaded image </h2>
						<img id="blah" src="#" alt="Your uploaded image will be here, it's currently empty" />
						<p> Check for brightness/contrast of the image, a badly shot picture 
						(Example: GA-H87-D3H) will yield weird result.
							<br>Consider using photo editor (like the one in Windows 10,
							or use your phone image gallery app) to play around the 
							brightness/contrast setting.
						</p> <h1>Looks good?</h1>
						<button type="submit" form="ImageForm" class = "confirmButton" value="Like"> Yep, this is an IO image, <br> LET'S DO THIS </button>
					</div>
				</div>
				
					<div id = "confirmBox" class = "Part_3 Hidden">
				<div class ="boxed">
						<h1> Confirm result image & <br>Get 3D Model
								<br>
						</h1>Lorem ipsum cum in my ass 
						<img id="resultImg" src="#" alt="This is the result image, press the green button above" />
						<button class = "confirmButton" id = "LastButton"> Looks like a good recognition to me, <br> GET 3D MODEL NOW </button>
					
					</div>
				</div>
			</div>
			<div id="ad2" class = "advertisement">
				<p> Right ad spot here </p>
			</div>
		</div>
		<iframe name="hiddenFrame" width="0" height="0" border="0" style="display: none;"></iframe>
    </main>
	<!--<script src="logic.js"></script>-->
	<script src="./static/logic.js"></script>
  </body>
</html>