/*Mobile Version*/
*{margin: 0; font-family: Tahoma  ;}
main
{max-width:100vw; }
	divvv{
    -webkit-box-shadow:inset 0px 0px 0px 1px #000;
    -moz-box-shadow:inset 0px 0px 0px 1px #000;
    box-shadow:inset 0px 0px 0px 1px #000;
}
h1 {font-size:2.2em;}
	.Hidden{
		display: none !important;
	}
	#TopDonation
	{
		max-height:20vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.Top_banner
	{
		max-width: 100vw;
		text-align: center;
		padding:2vh;
	}
	.Top_banner h1
	{
		
		text-align: center;
	}
	.BigAss
	{ scroll-behavior: smooth;
		display: flex;
		flex-direction: column;
	}
	.advertisement
	{
		width: 100%;
		height: 20vh;
	}
	#adTop
	{
		max-width: 100vw;
		height:8vh;
	}
	#confirmBox{}
	#blah
	{
    -webkit-box-shadow:inset 0px 0px 10px 2px #333;
    -moz-box-shadow:inset 0px 0px 10px 2px #333;
    box-shadow:inset 0px 0px 10px 2px #333;
		margin-bottom: 2vh;
	}
	.ShowAfterShrink
	{
		display:none;
	}
/*PC Version*/
@media (min-width:641px)
{
	.BigAss
	{
		width: 100%;
		flex-direction: row;
	}
	.content-wrapper{
		background-color:#56a8f5;
		display:flex;
		justify-content: center; 
		align-items: center;
		width: 60%;
		flex-direction: column;
	}
	#TopDonation
	{
		max-height:20vh;
		display: flex;
		flex-flow:row;
		align-items: center;
		justify-content: center;
		max-width:100%;
		padding-top: 1vh;
		padding-bottom: 1vh;
		padding-left: 20vw;
		padding-right: 20vw;
	}
	#TopDonation .LeftHalf
	{
		padding-left:0.8vw;
		width: 40%;
		height: 100%;
	}
	#TopDonation .RightHalf
	{
		padding-top:1vh;
		font-size: 2vh;
		width: 60%;
		height: 100%;
		line-height: 150%;
	}
	#TopDonation .TopHalf
	{
		font-size: 5vh;
	}
	.BottomHalf *
	{
		margin:5px;font-size:2.5vh;
	}	
	.advertisement
	{
		position: sticky;
		padding:1%;
		width: 20%;
		height: 50vh;
		top: 0;
		margin: 0;
	}
	#adTop
	{
		position: relative;
		width: auto;
		height:8vh;
	}
	.Part_1
	{
		padding:1%;
		width: 92%;
		height: 30.4vh;
		text-align: center;
		margin-top:3vh;
		margin-bottom:3vh;
		box-shadow: initial;
		outline:12px dashed #2f75b5;
		-webkit-transition: height 1s ease;
		-transition: height 1s ease;
	}
	.Part_1 {
	  font-size: 2.5em;
	  font-weight: 700;
	  color: #e9edf0;
	  background-color: #3e82c2;
	  display: inline-block;
	  padding-top:15vh;
	}
	.Part_1:focus,
	.Part_1:hover {
	  color: white;
	  background-color: #3e82c2;
		outline:12px dashed #346594;
	}
	.Part_1_shrinked {
		height:10vh;
	  font-size: 1.5em;
	  font-weight: 700;
	  color: #e9edf0;
	  background-color: #3e82c2;
	  display: inline-block;
	  padding-top:1.5vh;
	}
	#ad1
	{
		text-align: center;
		line-height: 250%;
	}
	/* Set your aspect ratio  https://stackoverflow.com/questions/38026714/youtube-embed-dynamic-size-with-min-and-max-size */
	.video-container {
	  position: relative;
	  overflow: hidden;
	  height: 0;
	  padding-bottom: 56.25%; /* creates a 16:9 aspect ratio */
	}

	.video-container iframe,
	.video-container embed {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  max-width: 100%;
	}

	/* And set the max-width of the parent element */
	.video-wrap {
		margin-top:1vh;
	  width: 100%;
	  max-width: 100%;
	}
	
	#ad2
	{
		display: flex;
		flex-flow:column;
		align-items: right;
		justify-content: stretch;
		max-width:100%;
		padding-top: 0vh;
		padding-bottom: 1vh;
		padding-left: 0vw;
		padding-right: 0.5vw;
	}
	#ad2 .LeftHalf
	{
		margin-left:auto;
		width: 100%;
		height: auto;
		margin-bottom: 1vh;
	}
	#ad2 .RightHalf
	{
		margin-left:auto;
		padding-top:1vh;
		font-size: 1.9vh;
		width: 90%;
		line-height: 150%;
	}
	#ad2 .TopHalf
	{
		font-size: 5vh;
	}
	.Part_2
	{
		display:flex;
		flex-flow: column;
		min-height: 30vh;
		width:100%;
		text-align:center;
    justify-content: center;
		font-size: 1.5em;
    align-items: center;
	}
	.Part_2 *
	{
		padding: 0.5vh;
	}
	.Part_2 img
	{
		padding: 1vh;
		object-fit: cover;
		min-height: 4vh;
		max-height: 30vh;
		width: auto;
		max-width: 90%;
		height: auto;
	}
	.Part_2 p 
	{
		width: auto;
		padding-left:15%;
		padding-right: 15%;
		text-align: justify;
	}
	.boxed
	{
		width: 95%;
		height: auto;
		margin-top: 1vh;
		margin-bottom: 2vh;
		outline: 4px dashed #062d8f;
	}
	.confirmButton
	{
		align-items: center;
		width: 75%;
		margin-top: 1vh;
		margin-bottom: 2vh;
		background-color: #1ff463;
		font-size: 1em;
		border-radius: 3vh;
	} 
	.TwoDOverlay
	{width: 99%;
	padding: none;
	height: 23vh;
	}
	.Part_3
	{
		display:flex;
		flex-flow: column;
		min-height: 50vh;
		width:100%;
		text-align:center;
		justify-content: center;
		font-size: 1.5em;
		align-items: center;
	}
	.Part_3_flex_bot *
	{
		padding: 0.5vh;
	}
	.TwoDOverlay img
	{
		position:absolute;
		left:25%;
		padding: 1vh;
		object-fit: contain;
		min-height: 4vh;
		height: 23vh;
		width: 50%;
    -webkit-box-shadow:inset 0px 0px 10px 2px #333;
    -moz-box-shadow:inset 0px 0px 10px 2px #333;
    box-shadow:inset 0px 0px 10px 2px #333;
		margin-bottom: 2vh;
	}
	.Part_3_flex_bot p 
	{
		width: auto;
		padding-left:10%;
		padding-right: 10%;
		text-align: center;
	}
	.Part_3_flex_big
	{
		display:flex;
		flex-direction: column;
	}
	.Part_3_flex_top
	{
		order: 1;
		display:flex;
		text-align:left;
		height: auto;
		padding: 3vh 2vw 3vh 0;
		width: 100%;
	}
	#ImageForm2
	{
		display: flex;
		flex-flow: column;
		width: 60%;
		padding-left: 3vw;		
	}
	.inputNumber
	{
		width: 2.2vw;
		height: auto;
	}
	.adjustButton
	{
		
		align-items: center;
		width: 75%;
		margin-top: 1vh;
		margin-bottom: 2vh;
		padding-top:1vh;
		padding-bottom:1vh;
		background-color: #1ff463;
		font-size: 1.3em;
		border-radius: 3vh;
	}
	.slider
	{
		width: 100%;	
		height: 5vh;
	}
	.left_text_box
	{
		width: 10vw;
		height: 3.5vh;
		text-align:right;
		margin-right: 0.5vw;
	}
	.Part_3_flex_center
	{
		order: 2;
	}
	.Part_3_flex_bot
	{
		order: 3;
		display:flex;
	}
	.Part_3_flex_left
	{ width: 100%;
	}
	.Part_3_flex_right
	{ width: 30%;
		margin-left:auto;
		margin-right:0;
	}
	#ad2{padding: 1%;text-align: right; right:0;}
}