bpy==3.4.0
Flask==2.2.3
imageio==2.26.0
Jinja2==3.1.2
kiwisolver==1.4.4
lazy_loader==0.1
meshlib==0.1.7.18
matplotlib==3.7.1
numpy==1.24.2
opencv-python-headless==4.7.0.72
scikit-image==0.20.0
scipy==1.10.1